<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OobaboogaChatUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OobaboogaChatUI.Properties.Settings>
            <setting name="NoStreamingApiUri" serializeAs="String">
                <value>localhost:5000</value>
            </setting>
            <setting name="StreamingApiUri" serializeAs="String">
                <value>localhost:5005</value>
            </setting>
            <setting name="UseStreaming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBalabolkaTTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BalabolkaExecutable" serializeAs="String">
                <value />
            </setting>
        </OobaboogaChatUI.Properties.Settings>
    </userSettings>
</configuration>